<doctype html="">
<title>Delete your order</title>

<style>
body {
		background-color:lightblue;
}
input[type=submit] {
			background-color:lightblue;
}

a{
		color:black;
		
	}
</style>
<body>
<br/><br/>
<h2>Enter your orderid to delete order!</h2><br/>
{% from "_formhelpers.html" import render_field %}

<form method="post">
    <dl>
        {{ render_field(form.orderid) }}
    </dl>
    <p><input type="submit" value="Delete">
</p></form><br/><br/>
<h3>click on below link to return back to search page</h3>
<p><a href="{{ url_for('.index') }}">ReturnBack</a></p>
</body>
</doctype>